@import "tailwindcss";
@import "./theme.css";

@custom-variant dark (&:is(.dark *));

body {
  font-family: system-ui, -apple-system, sans-serif;
  min-height: 100vh;
  margin: 0;
  color: var(--color-foreground);
}

* {
  border-color: var(--color-border);
}
